{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
    <h1>{{ title }}</h1>
</div>

<div class="row">
{#  <div class="medium-10 columns medium-centered">#}
{#    <fieldset>#}
{#      <legend>Trieu l'extracte que voleu descarregar</legend>#}

        <table>
            <tr>
                <th>Data d'importació</th>
                <th>Nom del fitxer</th>
                <th>Moviments totals</th>
                <th>Moviments pendents</th>
                <th>Última modificació</th>
            </tr>
            {% for i in items %}
            <tr>
                <td>{{ i.fitxer.data_importacio }}</td>
                <td>{{ i.fitxer.nom_arxiu }}</td>
                <td class="text-center">{{ i.total }}</td>
                <td class="text-center">{{ i.pendents }}</td>
                <td>{{ i.ultima_modificacio }}</td>
                <td class="text-center">
                    <a href="{% url 'facturacio:exportar_extracte_bancari' i.fitxer.id %}"><i class="fa fa-sign-in"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>

{#    </fieldset>#}
{#  </div>#}
</div>
{% endblock content %}

