{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
    <h1>{{ title }}</h1>
</div>

<div class="row">
    <div class="panel">
        <ul>
            <li>El fitxer ha d'estar codificat amb UTF-8.</li>
            <li>Les dates han d'estar en format <i>dd-mm-aaaa</i>, <i>dd/mm/aaaa</i> o <i>dd-mm-aaaa</i>.</li>
            <li>Els imports han de tenir 2 decimals separats per punt (p.ex. <i>9.99</i>).</li>
        </ul>
    </div>
</div>

<div class="row">
  <div class="medium-10 columns medium-centered">
    <fieldset>
      <legend>Trieu un fitxer CSV </legend>
      <form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% non_field_errors form %}
	<div class="row">
	  <div class="medium-10 columns">
	    {% form_field form.file %}
	  </div>
	  <div class="medium-2 columns">
	    <button type="submit" class="radius success">Carregar</button>
	  </div>
	</div>
      </form>
    </fieldset>
  </div>
</div>
{% endblock content %}
	
