

{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
<h1>{{ title }}</h1>

<table>
  <thead>
    <tr>
      <th>NIF</th>
      <th>Nom Fiscal</th>
      <th>Telefon</th>
      <th>Correu-e</th>
      <th>Adreca</th>
      <th>Poblacio</th>
      <th>Codi Postal</tH>
    </tr>
  </thead>
  <tbody>
    {% for empresa in empreses %}
    <tr>
      <td>{{ empresa.nif }}</td>
      <td>{{ empresa.nom_fiscal }}</td>
      <td>{{ empresa.telefon }}</td>
      <td>{{ empresa.email }}</td>
      <td>{{ empresa.adreca_fiscal.adreca }}</td>
      <td>{{ empresa.adreca_fiscal.poblacio }}</td>
      <td>{{ empresa.adreca_fiscal.codi_postal }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No tens cap empresa en d'aquest tipus.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
