{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Relació de projectes autoocupats{% endblock %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
        .mini-button {
            background-color:#94b302;
            color: white;
            padding: 2px;
            border-radius:3px;
            font-weight: normal;
            font-size: smaller;
            margin:0px;
            border:1px solid black;
        }
        .filtres {
            margin: 0px;
            border: 0px;
        }
    </style>

    <table class="filtres"><tr>
        <td><h1>Balanços i tancaments de trimestre</h1></td>
        <td class="text-right">
            <form method="get" id="form_filtres">
            <div class="text-left">{% form_field form_filtres.estat hide_label=True %}</div>
            </form>
        </td>
    </tr></table>


    {% if estat_trimestre_a_tancar == estat_obert %}
    {% if en_periode_de_tancament or a_prop_del_periode_de_tancament or passat_periode_de_tancament %}

        <table>
        <tr>
            <th colspan="2">
                {% if en_periode_de_tancament %}
                    <p style="color:darkred">Resten {{ dies_per_tancar }} díes per tancar el trimestre</p>
                {% elif a_prop_del_periode_de_tancament %}
                    <p style="color:green">Resten {{ dies_per_periode_tancament }} díes pel periode de tancament</p>
                {% elif passat_periode_de_tancament %}
                    <p style="color:darkred">Ha passat el periode de tancament!!</p>
                {% endif %}
            </th>
            <th style="text-align: right">
                {% if passat_periode_de_tancament %}
                    <form method="post" action="{% url "facturacio:executar_tancament_trimestre" %}">{% csrf_token %}
                    <button class="mini-button" style="background-color: darkred">tancar el trimestre</button>
                    </form>
                {% endif %}
            </th>
        </tr>
        <tr>
            <td>Projectes que encara tenen el trimestre obert</td><td style="text-align: right">{{ recompte_oberts }}</td>
        </tr><tr>
            <td>Projectes que ja tenen el trimestre auto-liquidat</td><td style="text-align: right">{{ recompte_autoliquidats }}</td>
        </tr><tr>
            <td>Projectes que ja tenen el trimestre liquidat</td><td style="text-align: right">{{ recompte_tancats }}</td>
        </tr>
        </table>

    {% endif %}
    {% endif %}


    <table>
    <thead>
        <tr>
            <th rowspan="2" class="text-center">Projecte</th>
            {% if ultim_trimestre_tancat %}
            <th class="text-center">Últim trimestre tancat</th>
            {% endif %}
            <th class="text-center" colspan="3">Balanç del trimestre a tancar</th>
            <th class="text-center" colspan="2">Balanç actual</th>
        </tr><tr>
            {% if ultim_trimestre_tancat %}
            <th class="text-center">{{ ultim_trimestre_tancat }}</th>
            {% endif %}
            <th class="text-center">{{ trimestre_a_tancar }}</th>
            <th class="text-center" colspan="2">Estat</th>
            <th class="text-center">{{ trimestre_actual }}</th>
        </tr>
    </thead>
    <tbody>

    {% for p in projectes %}

        <tr>
            <td><a href="{% url "projectes:resum_projecte_autoocupat" id_projecte=p.instance.id %}">{{ p.instance }}</a></td>
            {% if ultim_trimestre_tancat %}
            <td class="text-right">
                {% if p.balanc_ultim_trimestre_tancat == None %}
                    <em>N/A</em>
                {% else %}
                    {% currency_value p.balanc_ultim_trimestre_tancat highlight_negative=True %}
                {% endif %}
            </td>
            {% endif %}
            <td class="text-right"><a href="{% url "facturacio:moviments" p.instance.pk %}">{% currency_value p.balanc_trimestre_a_tancar highlight_negative=True %}</a></td>
            <td class="text-center">{# if p.estat_trimestre_a_tancar == 'tancat' %}<i class="fa fa-fw fa-check"></i>&nbsp;{% endif #}{{ p.estat_trimestre_a_tancar }}</td>
            <td>
                {% if p.estat_trimestre_a_tancar != estat_tancat %}
                    <form method="post" action="{% url "facturacio:executar_tancament_trimestre_projecte" %}">{% csrf_token %}
                    {{ p.form.projecte_id }}{{ p.form.trimestre_id }}
                    <button class="mini-button">tancar</button>
                    </form>
                {% endif %}
            </td>
            <td class="text-right"><a href="{% url "facturacio:moviments" id_projecte=p.instance.pk tots=True %}">{% currency_value p.balanc_actual highlight_negative=True %}</a></td>
       </tr>

    {% empty %}
        <tr>
            <td class="text-center"><em>No hi ha cap projecte autoocupat que compleixi el criteri de la cerca.</em></td>
            <td colspan="2">&nbsp;</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

    <script>
        function filtre_estat_changed() {
            $("#form_filtres").submit();
        }
    </script>

{% endblock %}
