{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Validació de factures rebudes{% endblock %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

{#    <h1>{{ n }} factur{{ n|pluralize:"a,es" }} rebud{{ n|pluralize:"a,es" }} pendent{{ n|pluralize }} de validació</h1>#}
    <h1>Validació de factures rebudes</h1>

    <form method="get">
        <div class="row">
          <div class="medium-6 columns">
	    <div class="row">
              {% form_field form_cerca.cooperativa %}
	      {% form_field form_cerca.coop %}
	    </div>
                {% form_field form_cerca.ordenar_per %}
            </div>
            <div class="medium-3 columns">
                {% form_field form_cerca.mostrar_estat %}
                {% form_field form_cerca.limit %}
            </div>
            <div class="medium-3 columns">
                {% form_field form_cerca.des_de %}
                {% form_field form_cerca.fins_a %}
            </div>
        </div>

        <button type="submit" class="radius button">Cercar</button>

    </form>

{% if not form_validacio == None %}

{% if form_validacio|length > 0 %}

    <form method="post">
    {% csrf_token %}
    {{ form_validacio.management_form }}

    <table>
    <thead>
        <tr>
            <th class="text-center">Data</th>
            <th>Número</th>
            {% if ordre != ordenar_per_projecte %}
                <th>Projecte</th>
            {% endif %}
            {% if ordre != ordenar_per_proveidor %}
                <th>Proveïdor</th>
            {% endif %}
            <th class="text-right">Base</th>
            <th class="text-right">IVA</th>
            <th class="text-right">IRPF</th>
            <th class="text-right">Total</th>
            <th class="text-center">Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for fv in form_validacio %}
        {% with fv.instance as f %}
            {% if ordre == ordenar_per_projecte %}
                {% ifchanged f.projecte %}
                    <tr>
                        <td colspan="8"><b>{{ f.projecte }}</b></td>
                    </tr>
                {% endifchanged %}
            {% endif %}
            {% if ordre == ordenar_per_proveidor %}
                {% ifchanged f.proveidor %}
                    <tr>
                        <td colspan="8"><b>{{ f.proveidor }}</b></td>
                    </tr>
                {% endifchanged %}
            {% endif %}
            <tr>
                <td class="text-center" style="white-space:nowrap">{{ f.data|format_data_dia_mes }}</td>
                <td>{{ f.numero }}</td>
                {% if ordre != ordenar_per_projecte %}
                    <td>{{ f.projecte }}</td>
                {% endif %}
                {% if ordre != ordenar_per_proveidor %}
                    <td>{{ f.proveidor }}</td>
                {% endif %}
                <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                <td class="text-right">{% currency_value f.irpf_total highlight_negative=True %}</td>
                <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>

                <td class="text-center">
                    <i id="{{ fv.prefix }}-boto_acceptar" accio="{{ estat_acceptada }}" prefix="{{ fv.prefix }}" class="boto_acceptar fa fa-check-square fa-fw" {% if fv.instance.estat == estat_acceptada %}style="color:green" {% endif %}onclick="canviar_estat(event)"></i>&nbsp;
                    <i id="{{ fv.prefix }}-boto_rebutjar" accio="{{ estat_rebutjada }}" prefix="{{ fv.prefix }}" class="boto_rebutjar fa fa-minus-square fa-fw"  {% if fv.instance.estat == estat_rebutjada %}style="color:red" {% endif %}onclick="canviar_estat(event)"></i>&nbsp;
                    <i id="{{ fv.prefix }}-boto_mostrar_observacions" prefix="{{ fv.prefix }}" class="fa fa-pencil-square-o fa-fw" {% if fv.vist_i_plau_observacions.value %}style="color:darkorange"{% endif %} onclick="mostrar_observacions(event)"></i>
                    <i id="{{ fv.prefix }}-boto_amagar_observacions" prefix="{{ fv.prefix }}" class="fa fa-pencil-square-o fa-fw" style="display:none"></i>
                </td>
            </tr>
            <tr style="display:none">
                <td colspan="{% if ordre == ordenar_per_data  %}9{% else %}8{% endif %}" style="padding-top:0px; margin-top:0px;">
                    {{ fv.factura_ptr }}
                    {{ fv.estat }}
                    {{ fv.vist_i_plau_observacions }}
                </td>
            </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>

    <div class="row">
        <div class="medium-3 columns">
            <button type="submit" class="radius button">Desar i repetir la cerca</button>
        </div>
        <div class="medium-9 columns text-right">
            <span class="radius button" onclick="apretar_botons('boto_acceptar')"><i class="fa fa-fw fa-check-square" style="color:green"></i> Marcar totes acceptades</span>
            <span class="radius button" onclick="apretar_botons('boto_rebutjar')"><i class="fa fa-fw fa-minus-square" style="color:darkred"></i> Marcar totes rebutjades</span>
        </div>
    </div>

    </form>

{% else %}
    No hi ha cap factura pendent de validació que coincidexi amb aquest criteri.
{% endif %}

{% endif %}

<script>

function canviar_estat(event) {

    var prefix = event.target.getAttribute('prefix');
    var accio = event.target.getAttribute('accio');
    var field = $('#id_' + prefix + '-estat');

    var boto_acceptar = $('#' + prefix + '-boto_acceptar');
    var boto_rebutjar = $('#' + prefix + '-boto_rebutjar');

    boto_acceptar.css('color', accio == '{{ estat_acceptada }}' ? 'green' : '');
    boto_rebutjar.css('color', accio == '{{ estat_rebutjada }}' ? 'red' : '');

    // update the selected value on the form
    field.val(accio);

}

function apretar_botons(classe) {

    $('.' + classe).click();

}

function actualitzar_boto_mostrar_observacions(prefix) {

    var boto_mostrar = $('#' + prefix + '-boto_mostrar_observacions');
    var input_observacions = $('#id_' + prefix + '-vist_i_plau_observacions');
    boto_mostrar.css('color', input_observacions.val() ? 'darkorange' : '');

}

function mostrar_observacions(event) {

    var boto_mostrar = event.target;
    var boto_amagar = document.getElementById(boto_mostrar.id.replace('mostrar', 'amagar'));
    var prefix = event.target.getAttribute('prefix');
    var field = $('#id_' + prefix + '-vist_i_plau_observacions')[0];
    var tr = field.closest('tr');
    boto_amagar.style.display = '';
    boto_mostrar.style.display = 'none';
    tr.style.display = '';
    field.select();

}

function amagar_observacions(event) {

    var field = event.target;
    var prefix = field.getAttribute('id').slice(3).split('-', 2).join('-');
    var boto_mostrar = $('#' + prefix + '-boto_mostrar_observacions')[0];
    var boto_amagar = $('#' + prefix + '-boto_amagar_observacions')[0];
    var tr = field.closest('tr');
    tr.style.display = 'none';  // WTF?!? tr.hide() does not work
    actualitzar_boto_mostrar_observacions(prefix);
    boto_amagar.style.display = 'none';
    boto_mostrar.style.display = '';

}

</script>

{% endblock %}
