{% extends "blank.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
            <p> Introduïu el vostre correu electrónic per a restablir la vostra contrasenya</p>
                <form method="post">
                    {% csrf_token %}
                    {% non_field_errors form %}
                    {% form_field form.email %}
                    <button type="submit" class="expand radius button"><i class="fa fa-fw fa-sign-in"></i> Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}