{% extends "blank.html" %}

{% block content %}
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <h4>Contrasenya restablerta correctament</h4>
                    <p>Ara ja pots iniciar sessió amb la nova contrasenya.</p>
                    <a class="radius success button expand" href="{% url 'login' %}">Inicia sessió</a>
            </div>
        </div>
    </div>
{% endblock %}