{% extends "blank.html" %}

{% block content %}
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <h4>Restablint la contrasenya...</h4>
                    <p>Se us ha enviat un correu-e amb les instruccions.</p>
                    <p>Haurieu de rebre'l aviat!</p>
                    <a class="radius success button" href="{% url 'login' %}">Inicia sessió</a>
            </div>
        </div>
    </div>
{% endblock %}