.messages {
    .alert-box {
        border-radius: $global-radius;
        margin: $half-padding 0 $half-padding;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
        border-top: 0;
        padding-top: $half-padding;
        padding-bottom: $half-padding;
    }
}
