// DO NOT REMOVE "-custom" FROM FILE NAME
// SINCE WHEN DOING THIS IMPORT IT WILL TRY TO IMPORT ITSELF…
@import "selectize";

$selectize-color-item: #ff0000;
$selectize-color-item-text: #fff;
$selectize-color-item-active-text: #fff;
$selectize-color-item-border: #0073bb;
$selectize-color-item-active: #92c836;
$selectize-color-item-active-border: #00578d;
$selectize-width-item-border: 1px;
$selectize-caret-margin: 0 1px;

.selectize-control {
    //height: 34px; // FIX selectize control margin-bottom
    margin-bottom: $base-padding;

    .selectize-input {
        input {
            font-size: $input-font-size;
            height: $input-font-size;
        }
    }

    .highlight {
        display: inline-block;
    }

    &.multi {

        .selectize-input {

            &.has-items {
                $padding-x: $selectize-padding-x - 3px;
                padding-left: $padding-x;
                padding-right: $padding-x;
            }

            &.disabled [data-value] {
                color: #999;
                text-shadow: none;
                background: none;
                @include selectize-box-shadow(none);

                &,
                .remove {
                    border-color: #e6e6e6;
                }

                .remove {
                    background: none;
                }

            }
            [data-value] {
                background-color: $primary-color;
                color: #fff;
                //text-shadow: 0 1px 0 rgba(0, 51, 83, .3);
                @include selectize-border-radius(3px);
                //@include selectize-vertical-gradient($selectize-color-item, #178ee9);
                //@include selectize-box-shadow(#{0 1px 0 rgba(0, 0, 0, .2), inset 0 1px rgba(255, 255, 255, .03)});

                &.active {
                    @include selectize-vertical-gradient(#008fd8, #0075cf);
                }

            }

        }

    }

    &.single {

        .selectize-input {
            @include selectize-box-shadow(#{0 1px 0 rgba(0, 0, 0, .05), inset 0 1px 0 rgba(255, 255, 255, .8)});
            @include selectize-vertical-gradient(#fefefe, #f2f2f2);
        }

    }

}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
    border-color: #b8b8b8;
}

.selectize-dropdown {

    .optgroup-header {
        padding-top: $selectize-padding-dropdown-item-y + 2px;
        font-weight: bold;
        font-size: .85em;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    .optgroup {
        border-top: 1px solid $selectize-color-dropdown-border-top;

        &:first-child {
            border-top: 0 none;
        }

    }

}
