table {
    width: 100%;

    input[type="text"],
    input[type="checkbox"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    select,
    textarea {
        margin-bottom: 0px;
    }
}
