{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Introduïu les dades del projecte que apareixen al full d'assistència de la sessió d'acollida.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Sessió d'acollida</legend>
        {% form_field form.sessio_acollida hide_label=True %}
    </fieldset>

    <fieldset>
        <legend>Projecte</legend>
        <div class="row">
            <div class="medium-4 columns">
                {% form_field form.nom %}
            </div>
            <div class="medium-4 columns">
                {% form_field form.email %}
            </div>
            <div class="medium-4 columns">
                {% form_field form.telefon %}
            </div>
        </div>
    </fieldset>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
