{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block pas %}
    <div class="row">
        <div class="medium-6 columns">
            <fieldset>
                <legend>Lloc web</legend>
                {% form_field form.website hide_label=True %}
            </fieldset>
            <fieldset>
                <legend>Tipus de projecte</legend>
                <div class="row">
                    <div class="medium-6 columns">
                        {% form_field form.individual %}
                    </div>
                    <div class="medium-6 columns">
                        {% form_field form.te_comerc_electronic %}
                        {% form_field form.expositors %}
                        {% form_field form.te_productes_ecologics %}
                    </div>
                    <div class="medium-6 columns">
                        {% form_field form.tipus %}
                    </div>
                    <div id="contenidor_camps_firaire" class="medium-6 columns">
                        {% form_field form.tipus_parada_firaire %}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="medium-6 columns">
            <fieldset>
                <legend>Descripció del projecte</legend>
                {% form_field form.descripcio hide_label=True %}
                <ul class="small">
                    <li>Breu descripció de l'activitat</li>
                    <li>(Si es col·lectiu) El projecte es assembleari? (si/no)</li>
                    <li>(Si es col·lectiu) Com es distribueixen els ingressos? (si/no)</li>
                    <li>Apliques iniciatives ecològiques al teu projecte? Quines? (si/no/no aplicable)</li>
                    <li>On realitzes la teva activitat? (en un local de propietat, en un local de lloguer, llogues un espai de tant en tant, a casa, de forma itinerant, fires, internet)</li>
                    <li>Quin % de moneda social acceptaràs?</li>
                    <li>D'on son els teus clients? (Catalunya, Península, Europa, Internacional)</li>
                    <li>Treballes de manera fixa per un empresari? (si/no/no aplicable)</li>
                    <li>D'on son els teus proveidors? (Catalunya, Península, Europa, Internacional)</li>
                    <li>Coneixements (Mirar taula)</li>
                </ul>
            </fieldset>
        </div>
    </div>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    <script>
        function tipus_canviat() {
            $('#contenidor_camps_firaire').toggle($('[name=tipus]:checked').val() == 'autoocupat_firaire');
        }

        function individual_canviat() {
            {# TODO: Esto deberia de ir en Django #}
            var num_membres_referencia = {{ proces.membres_de_referencia.count }};
            var nou_valor = $('[name=individual]:checked').val();

            if (nou_valor == '{{ proces.INDIVIDUAL_INDIVIDUAL }}') {
                if (num_membres_referencia > 1) {
                    $('[name=individual][value="{{ proces.INDIVIDUAL_COL_LECTIU }}"]').prop('checked', true);
                }
            }
        }

        // Events
        $('#{{ form.tipus.auto_id }} [type=radio]').change(tipus_canviat);
        $('#{{ form.individual.auto_id }} [type=radio]').change(individual_canviat);

        // OnReady
        $(function () {
            individual_canviat();
            tipus_canviat();
        });
    </script>
{% endblock %}
