{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>En el següent pas es podran afegir activitats addicionals, si es que n'hi ha, no vinculades a cap adreça.</li>
            <li>El camp <code>designació</code> serveix per referir-se a l'adreça durant tot el procés. Trieu el nom que els socis de referència fan servir, inclús si és genèric com ara "el local", "la botiga", "el despatx", etc.</li>
            <li>S'ha de donar d'alta com a mínim una adreça.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {{ formset.management_form }}

    {% for form in formset %}
        <fieldset>
            {{ form.id }}
            <span style='display:none;'>{{ form.DELETE }}</span>

            <legend>
                Adreça
                {% if form.designacio.value %}
                    &laquo;{{ form.designacio.value }}&raquo;
                {% else %}
                    #{{ forloop.counter }}
                {% endif %}

                <a class="radius alert label" title="eliminar" data-eliminar="{{ form.prefix }}">Eliminar</a>
            </legend>

            {% non_field_errors form %}

            <div id='{{ form.prefix }}-esborrar' class='panel errors' {% if not form.DELETE.value %}style='display:none'{% endif %}>
                <ul>
                    <li>Aquesta adreça s'esborrarà. Per recuperar-la torneu a clicar en <code>Eliminar</code>.</li>
                    <li>Si feu <code>Desar</code>, es perdran les peticions i possibles dades associades: lloguers, cessions d'ús, concessions d'activitats i assegurances.</li>
                </ul>
            </div>

            <div class="row" id='{{ form.prefix }}-caixa' {% if form.DELETE.value %}style='display:none'{% endif %}>
                <div class="medium-7 columns">
                    {% form_field form.designacio %}

                    <div class="row">
                        <div class="medium-6 columns">
                            {% form_field form.adreca %}
                        </div>
                        <div class="medium-6 columns">
                            {% form_field form.ubicacio_especifica %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-6 columns">
                            {% form_field form.poblacio %}
                        </div>
                        <div class="medium-6 columns">
                            {% form_field form.codi_postal %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-4 columns">
                            {% form_field form.comarca %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.provincia %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.pais %}
                        </div>
                    </div>

                    {% form_field form.traspas %}
                    {% form_field form.traspas_comentaris_avaluacio %}
                </div>
                <div class="medium-5 columns">
                    {% form_field form.activitats %}
                </div>
            </div>
        </fieldset>
    {% endfor %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    <script>
        $('[data-eliminar]').click(function () {
            var prefix   = $(this).data('eliminar');
            var eliminar = $('#id_' + prefix + '-DELETE');

            eliminar.prop('checked', !eliminar.prop('checked'));

            $('#'+ prefix +'-caixa').toggle(!eliminar.is(':checked'));
            $('#'+ prefix +'-esborrar').toggle(eliminar.is(':checked'));
        });
    </script>
{% endblock %}
