{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Les quotes depenen de la forma de pagament i de si el projecte és individual o col·lectiu.</li>
            <li>La &laquo;quota trimestral avançada&raquo; és un dipòsit per al primer pagament trimestral.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <div class="row">
        <div class="medium-6 columns">
            <fieldset>
                <legend>Quota d'alta</legend>
                {% form_field form.quota_alta_forma_pagament hide_label=True %}
            </fieldset>
        </div>
        <div class="medium-6 columns">
            <fieldset>
                <legend>Quota trimestral avançada</legend>
                {% form_field form.quota_avancada_forma_pagament hide_label=True %}
            </fieldset>
        </div>
    </div>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
