{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Enregistreu els detalls que hi ha a la documentació que aporten els membres de referència.</li>
            <li>Si us plau, reviseu les observacions! Els membres de referència les tenen a la llista de tasques que va sortir de la sessió d'avaluació.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {{ formset.management_form }}

    {% for form in formset %}
        <fieldset>
            {{ form.id }}

            <legend>Adreça &laquo;{{ form.instance.designacio }}&raquo;</legend>

            <div class="row">
                <div class="medium-6 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            {% form_field form.traspas_inici %}
                        </div>
                        <div class="medium-6 columns">
                            {% form_field form.traspas_final %}
                        </div>
                    </div>

                    <div class="field">
                        <label><span>Comentaris avaluació</span></label>
                        {% if form.instance.traspas_comentaris_avaluacio %}
                            <p>
                                <em>{{ form.instance.traspas_comentaris_avaluacio|linebreaksbr }}</em>
                            </p>
                        {% else %}
                            <p class="color-warning">
                                <em>No es van deixar comentaris a la llista de tasques</em>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="medium-6 columns">
                    {% form_field form.traspas_lloguer_import_mensual %}
                    {% form_field form.traspas_comentaris_alta %}
                </div>
            </div>
        </fieldset>
    {% endfor %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
