{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}
{% load static %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Els projectes firaires han d'aportar un mínim de 2 fotos: una de la parada i com a mínim una per producte o gamma de productes.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <div class="row">
        <div class="medium-8 columns">
            <fieldset>
                <legend>Fotografies</legend>

                {% if fotos %}
                    <ul class="small-block-grid-4 gallery">
                        {% for foto in fotos %}
                            <li id="photo_frame_{{ foto.id }}" class="frame">
                                <a class="action delete" title="Eliminar" data-delete-image='{{ foto.id }}'></a>
                                <div class="wrapper">
                                    <a href="{% static foto.imatge.url %}" target="_blank"><img src="{% static foto.url_miniatura %}" /></a>
                                    <h6>{{ foto.nom }}</h6>
                                    <p class="smallest">{{ foto.detalls|linebreaksbr }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="color-warning">
                        <em>No s'ha afegit encara cap foto.</em>
                    </p>
                {% endif %}

                {{ form.imatges_a_eliminar }}

                {% if error_falten_fotos %}
                    <div class="panel errors">
                        <ul class="errorlist">
                            <li>Calen com a mínim dues fotos!</li>
                        </ul>
                    </div>
                {% endif %}
            </fieldset>
        </div>
        <div class="medium-4 columns">
            <fieldset>
                <legend>Afegir fotografia</legend>

                {% form_field form.nom %}
                {% form_field form.imatge %}
                {% form_field form.detalls %}
            </fieldset>
        </div>
    </div>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    <script>
        var fadeLen = 300;
        var delFade = 0.25;

        $('[data-delete-image]').click(function () {
            var foto_id            = $(this).data('delete-image').toString();
            var frame              = $('#photo_frame_' + foto_id);
            var imatgesDelEl       = $('#{{ form.imatges_a_eliminar.auto_id }}');
            var imatges_a_eliminar = imatgesDelEl.val();
            var index;

            if (imatges_a_eliminar != '') {
                imatges_a_eliminar = imatges_a_eliminar.split(',');
            } else {
                imatges_a_eliminar = [];
            }

            index = imatges_a_eliminar.indexOf(foto_id);

            if (index > -1) {
                imatges_a_eliminar.splice(index, 1);
                frame.find('.wrapper').stop().fadeTo(fadeLen, 1.0);
            } else {
                imatges_a_eliminar.push(foto_id);
                frame.find('.wrapper').stop().fadeTo(fadeLen, delFade);
            }

            frame.find('.action').toggleClass('delete undo');

            imatgesDelEl.val(imatges_a_eliminar.join(','));
        });

        function marcar_fotos_eliminades() {
            var imatges_a_eliminar = $('#{{ form.imatges_a_eliminar.auto_id }}').val();
            var foto_id, frame, i;

            if (imatges_a_eliminar != '') {
                imatges_a_eliminar = imatges_a_eliminar.split(',');

                for(i = 0; i < imatges_a_eliminar.length; i++) {
                    foto_id = imatges_a_eliminar[i];
                    frame   = $('#photo_frame_'+ foto_id);

                    frame.find('.wrapper').fadeTo(fadeLen, delFade);
                    frame.find('.action').toggleClass('delete undo');
                }
            }
        }

        $(function () {
            $('form').first().attr('enctype', 'multipart/form-data');
            marcar_fotos_eliminades();
        });
    </script>
{% endblock %}
