{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Reassignació de processos d'alta de projecte autoocupat{% endblock %}

{% block content %}

    <fieldset>
        <legend>Cercar projectes</legend>

        <div class="row">
            <form method="get">
                <div class="medium-6 columns">
                    {% form_field form_cerca.per_responsable %}
                    {% form_field form_cerca.per_nom %}
                    {% form_field form_cerca.per_email %}
                </div>
                <div class="medium-12 columns">
                    <button class="radius button" type="submit" name="cercar">Cercar</button>
                </div>
            </form>
        </div>
    </fieldset>

    {% if cerca %}

        <fieldset>
        <legend>Resultats</legend>

            {% if projectes %}

            <form method="POST">
            {% csrf_token %}

            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="check_all" onchange="check_uncheck_all(event.target.checked)"></th>
                        <th>Nom del projecte</th>
                        <th>Correu-e del projecte</th>
                        <th>Membre(s) de referència</th>
                        <th>Responsable d'alta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projectes %}
                        <tr>
                            <td><input type="checkbox" name="projectes_triats" value="{{ p.id }}"></td>
                            <td><a href="{% url 'alta_socies:resum_proces_alta_projecte_autoocupat' p.pk %}" title="{{ p.get_nom_pas_actual }}">{{ p.nom }}</a></td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.membres_de_referencia.all.0.email }}</td>
                            <td>{{ p.responsable.first_name }} {{ p.responsable.last_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
             <div class="medium-6 columns">
                {% form_field form_reassignar.destinatari %}
            </div>
            </div>
            <div class="row">
             <div class="medium-6 columns">
                <button class="radius button" type="submit" name="rebutjar">Reassignar</button>
            </div>
            </div>


            </form>

            {% else %}

                <em>No hi ha cap procés d'alta <b>en curs</b> que coincideixi amb aquest criteri.</em>

            {% endif %}

        </fieldset>

    {% endif %}

    <script>

        function check_uncheck_all(v) {
            var elements = document.getElementsByName('projectes_triats');
            for(var i=0; i<elements.length; i++) {
                elements[i].checked = v;
            }
        }

    </script>

{% endblock %}
