{% extends "layout.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Rebutjar procés d'alta de projecte autoocupat{% endblock %}

{% block content %}

    <div class="row">

        <div class="panel">
            <ul>
                <li>Aquest procés d'alta ja no es convertirá en un projecte autoocupat.</li>
                <li>Especifiqueu el motiu pel qual es pren la decissió de rebutjar el procés d'alta. Per exemple:
                    <ul>
                        <li>Els membres de referència han deixat de tenir interès...</li>
                        <li>El projecte no està aliniat amb els principis i valors de la cooperativa...</li>
                        <li>...</li>
                    </ul>
                </li>
            </ul>
        </div>

        <form method="POST">

            {% csrf_token %}

            <fieldset>

                <legend>Motiu per rebutjar aquest projecte</legend>
                <table>
                    <tr><th>Nom del projecte</th><td>{{ proces.nom }}</td></tr>
                    <tr><th>Email del projecte</th><td>{{ proces.email }}</td></tr>
                    <tr><th>Telèfon del projecte</th><td>{{ proces.telefon }}</td></tr>
                    <tr>
                        <th>Membres de referència</th>
                        <td>
                            {% if proces.membres_de_referencia.all.count == 1 %}
                                {{ proces.membres_de_referencia.all.0.tots_els_detalls }}
                            {% else %}
                                <ul>
                                    {% for m in proces.membres_de_referencia.all %}
                                        <li>{{ m.tots_els_detalls }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                {% form_field form.motiu %}
                {% form_field form.confirmacio %}

            </fieldset>

            <button class="radius button" type="submit" name="anem_a" value="mantenir">Mantenir el procés</button>
            <button class="radius button" style="background-color:red" type="submit" name="anem_a" value="rebutjar">Rebutjar el procés</button>

        </form>

    </div>

{% endblock %}