{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}


{# bloc "processos d'alta de projecte autoocupat" #}
{% if user|is_responsable_alta or user|is_supervisora_alta %}
<div class="row">


  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fa fa-fw fa-users"></i> Processos d'alta de projecte autoocupat</legend>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:proces_alta_projecte_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-plus"></i> Començar nou procés
          </a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_proces_alta_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-list"></i> Llistat de processos
          </a>
        </li>
      </ul>
      {% if user|is_supervisora_alta %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:reassignacio_proces_alta_autoocupat" %}" class="button expand">
            <i class="fa fa-fw fa-random"></i> Reassignar responsables
          </a>
        </li>
        <li>
          <a href="{%  url "alta_socies:llistat_proces_alta_projecte_autoocupat_revisio_descripcions" %}" class="button">
            <i class="fa fa-fw fa-tasks"></i> Control de qualitat
          </a>
        </li>
      </ul>
      {% endif %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{%  url "alta_socies:estadistiques_proces_alta_projecte_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-tasks"></i> Estadístiques
          </a>
        </li>
      </ul>
      {% if user|is_exportador %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:exportar_a_csv" %}" class="button expand">
            <i class="fa fa-fw fa-sign-out"></i> Exportar al «Transversal»
          </a>
        </li>
      </ul>
      {% endif %}
    </fieldset>
  </div>


  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend><i class="fa fa-fw fa-calendar"></i> Sessions</legend>
      <ul class="radius button-group even-3">
        <li>
          <a href="#" class="disabled info button">Acollida</a>
        </li>
        <li>
          <a href="{% url "alta_socies:crear_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
        </li>
      </ul>
      <ul class="radius button-group even-3">
        <li>
          <a href="#" class="disabled info button">Moneda social</a>
        </li>
        <li>
          <a href="{% url "alta_socies:crear_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
        </li>
      </ul>
    </fieldset>
  </div>


</div>
{% endif %}



{# bloc "facturació dels projectes autoocupats" #}
{% if user|is_responsable_facturacio %}
<div class="row">


  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend><i class="fa fa-fw fa-calendar"></i> Facturació dels projectes autoocupats</legend>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "facturacio:llistat_projectes_autoocupats" %}" class="button"><i class="fa fa-fw fa-list"></i> Balanços i tancaments de trimestre</a><br/>
        </li>
        <li>
          <a href="{% url "facturacio:validacio_factures_rebudes" %}" class="button"><i class="fa fa-fw fa-list"></i> Validació de factures rebudes</a>
        </li>
        <li>
          <a href="{% url "facturacio:validacio_empreses" %}" class="button"><i class="fa fa-fw fa-list"></i> Validació d'empreses</a>
        </li>
	<li>
	  <a href="{% url "facturacio:llistat_aportacions_trimestre_projectes" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat aportacions projectes</a>
	</li>
      </ul>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "facturacio:facturacio_per_proveidor" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per proveïdor</a><br/>
        </li>
        <li>
          <a href="{% url "facturacio:facturacio_per_client" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per client</a>
        </li>
      </ul>
    </fieldset>
  </div>

{# bloc "operacions bancaries" #}
{% if user|is_responsable_bancari %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>Conciliació d'extractes bancaris</legend>
      <ul class="radius button-group even-2">
          <li><a href="{% url 'facturacio:importar_extracte_bancari' %}" class="button radius"><i class="fa fa-fw fa-sign-in"></i> Carregar</a></li>
          <li><a href="{% url 'facturacio:exportar_extracte_bancari' %}" class="button radius"><i class="fa fa-fw fa-sign-out"></i> Descarregar</a></li>
          <li><a href="{% url 'facturacio:conciliacio_automatica_factures' %}" class="button radius"><i class="fa fa-fw fa-cogs"></i> Conciliació de factures</a></li>
          <li><a href="{% url 'facturacio:conciliacio_automatica_moviments_simples' %}" class="button radius"><i class="fa fa-fw fa-cogs"></i> Conciliació de moviments simples</a></li>
          <li><a href="{% url 'facturacio:conciliacio_manual' %}" class="button radius"><i class="fa fa-fw fa-cog"></i> Conciliació manual</a></li>
          <li><a href="{% url 'facturacio:llistat_moviments_descartats' %}" class="button radius"><i class="fa fa-fw fa-list"></i> Llistat descartats</a></li>
      </ul>
    </fieldset>
  </div>
{% endif %}
</div>

{# bloc "informes" #}
<div class="row">
  <div class="columns groups-container">
    <fieldset>
      <legend>Informes</legend>
      <ul class="radius button-group even-4">
	<li><a class="button" href="{% url 'facturacio:derivar_exportacio_aportacions_csv' %}">Aportacions: IVA i Trimestral</a></li>
	<li><a class="button" href="{% url 'facturacio:derivar_exportacio_factures_csv' %}">Resumen factures</a></li>
	<li><a class="button" href="{% url 'facturacio:exportar_projectes_per_liquidacio' %}">Liquidació ProjectesAO</a></li>
	<li><a class="button" href="{% url 'facturacio:exportar_projectes_per_comarca' %}">ProjectesAO per Comarques</a></li>
      </ul>
    </fieldset>
  </div>
</div>
{% endif %}



<div class="row">
  {# bloc "revisio socies cooperatives" #}
  {% if user|is_responsable_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Sòcies Cooperatives pendents de revisió
      </legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_euro' %}" class="button">
	    Paga en euros
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_eco' %}" class="button">
	    Paga en ecos
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_temp' %}" class="button">
	    Paga en hores
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Projectes Col·lectius pendents de revisió
      </legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_euro' %}" class="button">
	    Paga en euros
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_eco' %}" class="button">
	    Paga en ecos
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_temp' %}" class="button">
	    Paga en hores
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
<div class="row">
  {# bloc "llibre de socies i projectes" #}
  {% if user|is_responsable_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Llibre de Sòcies Cooperatives
      </legend>
      <ul class="radius button-group even-2">
	<li>
	  <a href="{% url 'alta_socies:llistat_socia_cooperativa' %}" class="button">
	    COOP i Nom
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_habilitats' %}" class="button">
	    Habilitats
	  </a>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Llibre de Projectes Col·lectius
      </legend>
      <ul class="radius button-group even-2">
	<li>
	  <a href="{% url 'alta_socies:llistat_projecte_collectiu' %}" class="button">Projectes
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_afins' %}" class="button">Sòcies Afins
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
<div class="row">
  {# bloc "llibre de socies i projectes" #}
  {% if user|is_responsable_alta %}
  <div class="columns groups-container">
    <fieldset>
      <legend>
	Llibres Integrals
      </legend>
      <ul class="radius button-group even-2">
	<li>
	  <a href="{% url 'alta_socies:exportar_llibre_integral_socies' %}" class="button">
	    Socies -> CSV
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:exportar_llibre_integral_socies_afins' %}" class="button">
	    Socies Afins -> CSV
	  </a>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
{% endblock %}
