{% extends "projectes/resum_projecte_autoocupat_base.html" %}
{% load gci_tags %}

{% block contacte %}


<form method="post">
{% csrf_token %}

<table>
  <tr><th>{{ form.email.label }}</th><td>{{ form.email }}</td></tr>
  <tr><th>{{ form.telefon.label }}</th><td>{{ form.telefon }}</td></tr>
  <tr><th>{{ form.website.label }}</th><td>{{ form.website }}</td></tr>
</table>

<button class="button radius" name="Desar" type="submit">Desar</button>

</form>
{% endblock %}
