{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <p>Filtrar per Projecte:</p>
    <input id="projecte" type="text">
  </div>
</div>
<div class="row">
  <div class="medium-6 columns medium-centered large-centered">
    <input id="filterSubmit" type="submit" value="Buscar" class="expand radius button success">
  </div>
</div>
<div class="row" id="filtrats">
</div>
{% endblock content %}
{% block javascript %}
<script>
  $(function(){
  $('#filterSubmit').click(function(){
  var projecte = $('#projecte').val();
  var url = '{% url "alta_socies:llistat_socies_afins" %}?projecte=' + projecte;
  $('#filtrats').html( '&nbsp;' ).load(url);
  });
  });
  
</script>
{% endblock javascript %}

