{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    {% form_field form.habilitat %}
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <input id="filterSubmit" type="submit" value="Buscar" class="expand radius button success">
  </div>
</div>
<div class="row" id="filtrats">
</div>
{% endblock content %}
{% block javascript %}
<script>
  $(function(){
  $('#filterSubmit').click(function(){
  var habilitat = $('#id_habilitat').val();
  var url = '{% url "alta_socies:llistat_socies_habilitats" %}?habilitat=' + habilitat;
  $('#filtrats').html( '&nbsp;' ).load(url);
  });
  });
</script>
{% endblock javascript %}

